html {
  height: 100% !important;
}
body {
  margin: 0;
  height: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body div#root {
  height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

/* Prevent blue background when the input is auto filled by browser */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Custom for crollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5658e5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4042e2;
}

/* react-viewer for images view */
.react-viewer .react-viewer-list li {
  width: auto;
  height: auto;
}
.react-viewer .react-viewer-list li img {
  width: auto;
  max-height: 3rem;
  margin-left: 0;
}
